@font-face {
    font-family: 'NetflixSans';
    src: url('/fonts/NetflixSans_W_Lt.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NetflixSans';
    src: url('/fonts/NetflixSans_W_Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NetflixSans';
    src: url('/fonts/NetflixSans_W_Md.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NetflixSans';
    src: url('/fonts/NetflixSans_W_Bd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'NetflixSans', 'Arial';
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  --colRed: #E50914;
  background: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}